

.home-part-1{
display: flex;
justify-content: space-around;
margin: 1%;
font-weight: bold;
color: white;
}

    .home-part-1-text{
       
       margin:3%;
       margin-top: 220px;
        height: 120px;
       width: 40%;
        font-weight: 400;
        font-size: 16.5px;
        color: #FFFFFF;
        
    }
    .home-part-1-img{
width: 50%;    
}

.home-page-part-2{
display: flex;
justify-content: space-between;
}
.popular-boba-img{
    height: 400px;
    width: 45%;
    
}

.type-boba-box{
    width: 45%;

}

.four-type-boba{

    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.four-type-boba img {
height: 60%;
}
.popular-boba-text-img{
color : orangered;

height: 80px;
}

.love-tea-map{
background-color: black;
display: flex;

}
.love-tea-map div{

padding: 20px;
    }
/* // */
.boba,
.image-30-icon {
  /* position: absolute; */
  top: 968px;
}
.image-30-icon {
  left: 815px;
  width: 479px;
  height: 89px;
  object-fit: cover;
}
.boba {
  left: 1115px;
  font-size: var(--font-size-39xl);
  font-weight: 600;
  color: var(--color-orangered);
  display: inline-block;
  width: 174px;
  height: 93px;
}