.product-container {
    display: grid;
    
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
 
   width: 80%;
   margin: auto;
padding: 40px;
   grid-template-areas:
        " a a b b"
        "a a d e"
        "c c d e";
}
.product-container>div {
    /* background-color: grey; */
    font-weight: bold;
    color: white;
    text-align: left;
    

}
.product-container>div:nth-child(1) {
    grid-area: a;
    /* background-color: blueviolet; */
}

.product-container>div:nth-child(2) {
    grid-area: b;
    /* background-color: orange; */
}

.product-container>div:nth-child(5) {
    grid-area: e;
    /* background-color: yellow; */
}
.product-container>div:nth-child(3) {
    grid-area: c;
    /* background-color: skyblue; */
}

.product-container>div:nth-child(4) {
    grid-area: d;
    /* background-color: teal; */
} 