.nav-sidebar-button {
    background-color: transparent
}

.nav-drwa-container {

    background-color: #fe611d;
    border:1px solid red;
}

.nav-slide-explore {
    border: none;
    outline: none;
    color: azure;
    background-color: transparent;
    margin-bottom:5px;
    margin-left: -4px;
font-weight: 600;

}

.nav-slide-option {
    border-bottom: 1px solid white;
    font-weight: 500;
    font-size: 14px;
    color:white;
    margin: 5px;
    width: 100%;
}

.nav-selector-option {
    border-bottom: 1px solid white;
    font-weight: 550;
    font-size: 14px;
    width: 100%;
    color:white;
    background-color: #fe611d;
}

.nav-slide-option:hover {
    background-color: white;
    color: #fe611d;
    border: none;
}

.nav-selector-option:hover {
    background-color: white;
    color: #fe611d;
    border: none;
}