.about-part-1-container{
width: 100%;
display: flex;
justify-content: space-between;
gap:4vw;
border:1px solid blue;
}

.about-boy-img{

    border:1px solid green;
    width: 40vw;
   margin-right: 1vw;
}
.about-boy-img img{
max-width: 50vw;


}
.aboutheadingimg-div{
border-bottom: 1px solid black;
max-width: 22vw;
border:1px solid brown
}
.aboutheadingimg-div img {
    max-width: 22vw;
}
.about-intro-div{
margin: 1px;
    /* border:1px solid red; */
    margin-top: 3vh;
    width: 45vw;
    font-weight: bold;
    padding-right: 1vh;
border:1px solid red;
}

.about-top-info{
    margin-top: 4vh;
    border-bottom: 1px solid black;
    padding-bottom: 4vh;
    font-size: 1.4vw;
}

.about-user-info{
    margin-top: 3vh;
    display: flex;
    gap:10%;
}

.about-user-info h1{
    color:#fe611d;
    
}
.about-user-number{
    font-size: 5vw;
     color:#fe611d;
}
.about-user-number-text{
    font-size: 1.3vw;

}
.chock-2-boba-img{
    border:1px solid cadetblue;
    height: 8vh;
    
    align-items: end;
    padding-left:23vw;
    margin-top: -2.5vh;
}

.chock-2-boba-img img{
    min-height: 4vh;
    max-width: 26vw;
padding-left: 7vw;    
}

.about-features-heading-button{
    display: flex;
}

.about-part-2-heading{
    font-size: 2vw;
    width: 65%;
    border: 1px solid orange;
}
.about-features-section{
    display:flex;
justify-content: space-around;
    border:1px solid red;
}
.about-features-section-single-div{
width: 20%;
    border:1px solid blue;
}

.about-icon-heading{
    font-weight: 600;
    font-size: 25px;
}
.about-icon-div{

    border:1px solid red;
    margin-top: 20px;
    width: 20%;
    /* margin: auto; */
}

.about-part-2-button{
    /*  */
    
align-items: end;
    
    margin-left: 300px;
    margin-top: 20px;
    
}

.about-us-container-part-2{

padding: 10px;
padding-top: 40px;
}
.about-part-2-button button{
    border:1px solid black;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 25px;
    /* margin-top: 20px; */
    float: left;
    background-color: rgb(230, 224, 224);
}
.about-button-text{
    color : black;
font-size: 20px;
font-weight: bold;
}
