/* .img44_div {
    display: flex;
    justify-content: left;
    align-items: baseline;
    }
     .img44{
      position: absolute;
      left: -5px;
      margin-top: -35px;
      max-width: 100%;
   @media screen and (max-width: 480px) {
  .img44{
      position: relative;
      left: -10px;
     top:462px;
     height: auto;
     width: 25%;   
    }    
   
   
    }  */
  



.about-part-1-container{
width: 100%;
display: flex;
justify-content: space-between;
gap:2vw;

}

.about-boy-img{

/* border:1px solid red;     */
    max-width: 50%;
   
}
.about-boy-img img{
max-width: 100%;
object-fit: contain;
height: 100%;
}
.aboutheadingimg-div{
border-bottom: 1px solid black;
max-width: 22vw;
}
.aboutheadingimg-div img {
    max-width: 22vw;
}
.about-intro-div{
margin: 1px;
    /* border:1px solid red; */
    margin-top: 3vh;
    width: 50%;
    font-weight: bold;
    padding-right: 10px;
}

.about-top-info{
    margin-top: 4vh;
    border-bottom: 1px solid black;
    padding-bottom: 4vh;
    font-size: 1.4vw;
}

.about-user-info{
    margin-top: 3vh;
    display: flex;
    gap:10%;
}

.about-user-info{
    color:#fe611d;
    
}
.about-user-number{
    font-size: 4vw;
     color:#fe611d;
}
.about-user-number-text{
    font-size: 1.2vw;
    color:black

}
.chock-2-boba-img{
    /* margin-top: 10px; */
    max-height: 160px;
    /* border:1px solid red; */
    align-items: end;
    display: flex;
    justify-content: end;
    flex-flow: row-reverse;
    max-width: 100%;
    position: relative;
        /* margin-bottom: -8.5vh; */
}

.chock-2-boba-img img{
   margin-bottom: -65px;
   object-fit: contain;
    /* border:1px solid green; */
/* max-height:150% ; */
max-width: 35%;
/* margin-bottom: -8rem; */
}


@media screen and (min-width: 1440px){

    
    .about-boy-img img{
        max-width: 100%;
        }
        .aboutheadingimg-div{
        border-bottom: 1px solid black;
        max-width: 13vw;
        }
        .aboutheadingimg-div img {
            max-width: 12vw;
        }
        

    .about-intro-div{
        margin: 1px;
            margin-top: 3vh;
            width: 25vw;
            font-weight: bold;
            /* padding-right: 1vh; */
        }
 
    .about-top-info{
        margin-top: 4vh;
        border-bottom: 1px solid black;
        padding-bottom: 4vh;
        font-size: .8vw;
        
    }

    .about-user-number{
        font-size: 2.2vw;
         color:#fe611d;
    }
    .about-user-number-text{
        font-size: .8vw;
    
    }

    .chock-2-boba-img{
        /* margin-top: 10px; */
        height: 10rem;
        
        align-items: end;
        display: flex;
        flex-flow: row-reverse;
            margin-bottom: -18.5vh;
    }

    .chock-2-boba-img img{
        margin-bottom: -5vh;
        
         
     height:120% ;
     
     width: 45vw;
     margin-bottom: -6rem;
     }
}


@media screen and (max-width:480px) {

    .about-part-1-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap:2vw;
        
        }
        
        .aboutheadingimg-div{
            border-bottom: 1px solid black;
            max-width: 60vw;
            }
            .aboutheadingimg-div img {
                max-width: 60vw;
            }
            .about-intro-div{
            margin: 1px;
                /* border:1px solid red; */
                margin-top: 3vh;
                width: 100%;
                font-weight: bold;
                padding-left: 10px;
            }
            
            .about-top-info{
                margin-top: 4vh;
                border-bottom: 1px solid black;
                padding-bottom: 4vh;
                font-size: 4.4vw;
            }
            
            .about-user-info{
                margin-top: 3vh;
                display: flex;
                gap:10%;
            }
            
            .about-user-info{
                color:#fe611d;
                
            }
            .about-user-number{
                font-size: 8vw;
                 color:#fe611d;
            }
            .about-user-number-text{
                font-size: 3vw;
                color:black
            
            }
            .chock-2-boba-img{
             display: none;
                /* margin-top: 10px; */
                max-height: 160px;
                /* border:1px solid red; */
                align-items: end;
                display: flex;
                justify-content: end;
                flex-flow: row-reverse;
                max-width: 100%;
                position: relative;
                    /* margin-bottom: -8.5vh; */
            }
            
            .chock-2-boba-img img{
                display: none;
               margin-bottom: -1px;
               object-fit: contain;
                /* border:1px solid green; */
            /* max-height:150% ; */
            max-width: 35%;
            /* margin-bottom: -8rem; */
            }
            
            

    
}


